@model AvansistUsuario.Models.Entities.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Nuevo Usuario</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input type="email" asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger">@ViewBag.errorCorreo</span>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input type="password" asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirmar contraseña</label>
                <input type="password" asp-for="ConfContrasena" class="form-control" />
                <span asp-validation-for="ConfContrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Estado</label>
                <select asp-for="EstadoId" asp-items="ViewBag.listaEstados" class="form-control">
                    <option>Seleccione</option>
                </select>
                <span asp-validation-for="EstadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rol</label>
                <select asp-for="RolId" asp-items="ViewBag.listaRoles" class="form-control">
                    <option>Seleccione</option>
                </select>                
                <span asp-validation-for="RolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
